{{define "title"}}Account{{end}}
{{define "main"}}
<h2>Your account</h2>
        {{with .User}}
        <table>
            <tr>
                <th>Name</th>
                <td>{{.Name}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{.Email}}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td><time>{{humanDate .Created}}</time></td>
            </tr>
        </table>
{{end}}
{{end}}
